<style>
  .footer {
    background-color: #2C2F33;
    color: #fff;
    padding: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .footer-title {
    font-size: 1.3em;
    font-weight: 600;
  }

  .footer-title span {
    color: #b56400;
  }

  .footer .social-icons .link {
    font-size: 2em;
    color: #fff;
    padding: 0 12px 0 0;
  }
</style>

<footer class="footer">
  <p class="footer-title">حقوق النشر @ <span>موقع الإسلام ²⁰²²</span></p>
  <div class="social-icons">
    <a class="link" href="/facebook" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
  </div>
</footer>