<style>
.footer{
  background-color: #2C2F33;
  color: #fff;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.footer-title{
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span{
  color: #b5000c;
}
.footer .social-icons .link{
  font-size: 1.3em;
  color: #fff;
  padding: 0 12px 0 0;
}
</style>

<footer class="footer">
<p class="footer-title">Copyrights @ <span>Royal Time ²⁰²²</span></p>
<div class="social-icons">
<a class="link" href="/support"><i class="fab fa-discord" aria-hidden="true"></i></a>
</div>
</footer>