<div id="contextMenu" class="context-menu" style="display: none">
  <ul class="menu">
    <li>
      <a href="/facebook" target="_blank">
        <i class="fa-brands fa-facebook"></i>
        صفحتنا على فيسبوك
      </a>
    </li>
  </ul>
</div>

<style>
  ul {
    list-style: none;
  }

  .context-menu {
    position: absolute;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #b56400;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    padding: 10px 0;
    margin-left: -80px;
  }

  .menu>li>a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: white;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
  }

  .menu>li>a:hover {
    background: #7a4400;
  }

  .menu>li>a>i {
    padding-right: 10px;
  }
</style>