<div class="sidebar close">
  <div class="clsi">
    <a>
      <i class="fad fa-bars fa-menu" aria-hidden="true"></i>
    </a>
  </div>
  <div class="logo-details">
    <a href="/"><img class="bx bxl-c-plus-plus" src="../img/Islam.png" alt="Islam Icon"></a>
    <span class="logo_name">ูููุน ุงูุฅุณูุงู</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/quran">
        <i class="fa-duotone fa-book-quran" aria-hidden="true"></i>
        <span class="link_name">ุงููุฑุขู ุงููุฑูู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ุงููุฑุขู ุงููุฑูู</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class="fa-duotone fa-book" aria-hidden="true"></i>
          <span class="link_name">ุงูุฃุฑูุงู</span>
        </a>
        <i class="fad fa-angle-down arrow" aria-hidden="true"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name">ุงูุฃุฑูุงู</a></li>
        <li><a href="/pillars-islam">ุฃุฑูุงู ุงูุฅุณูุงู</a></li>
        <li><a href="/pillars-faith">ุฃุฑูุงู ุงูุฅููุงู</a></li>
      </ul>
    </li>
    <li>
      <a href="/Biography-of-the-Prophet">
        <i class="fa-solid fa-volume" aria-hidden="true"></i>
        <span class="link_name">ุงูุณูุฑู ุงููุจููู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ุงูุณูุฑู ุงููุจููู</a></li>
      </ul>
    </li>
    <li>
      <a href="/ahadeth">
        <i class="fa-duotone fa-scroll-old" aria-hidden="true"></i>
        <span class="link_name">ุฃุญุงุฏูุซ ูุจููู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ุฃุญุงุฏูุซ ูุจููู</a></li>
      </ul>
    </li>
    <li>
      <a href="/prayer-timings">
        <i class="fa-duotone fa-calendar-clock" aria-hidden="true"></i>
        <span class="link_name">ููุงููุช ุงูุตูุงู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ููุงููุช ุงูุตูุงู</a></li>
      </ul>
    </li>
    <li>
      <a href="/prophets-stories">
        <i class="fa-duotone fa-books" aria-hidden="true"></i>
        <span class="link_name">ูุตุต ุงูุฃูุจูุงุก</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ูุตุต ุงูุฃูุจูุงุก</a></li>
      </ul>
    </li>
    <li>
      <a href="/masba7a">
        <i class="fa-duotone fa-tablet-screen-button" aria-hidden="true"></i>
        <span class="link_name">ูุณุจุญู ุฅููุชุฑูููู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ูุณุจุญู ุฅููุชุฑูููู</a></li>
      </ul>
    </li>
    <li>
      <a href="/comments">
        <i class="fa-duotone fa-comments" aria-hidden="true"></i>
        <span class="link_name">ุชุนูููุงุช ุงููุณุชุฎุฏููู</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">ุชุนูููุงุช ุงููุณุชุฎุฏููู</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class="fa-duotone fa-circle-plus" aria-hidden="true"></i>
          <span class="link_name">ุฅุถุงูู ูููููุน</span>
        </a>
        <i class="fad fa-angle-down arrow" aria-hidden="true"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name">ุฅุถุงูู ูููููุน</a></li>
        <li><a href="/add-hadeth">ุฅุถุงูุฉ ุญุฏูุซ ูุจูู</a></li>
        <li><a style="cursor: no-drop;">ุฅุถุงูุฉ ูุตุต ุงูุงูุจูุงุก (ูุฑูุจุงู)</a></li>
      </ul>
    </li>
    <li>
      <a href="https://web.facebook.com/Akram.M.AlJabari" target="_blank">
        <div class="profile-details">
          <div class="profile-content">
            <img src="./img/Akram.jpg" alt="owner_img">
          </div>
          <div class="owner">
            <div class="owner_name">Akram AlJabari</div>
            <div class="role-user">ูุงูู ุงููููุน ๐</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>