<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lamsa Designs | Not found page!</title>
  <%- include('./partials/head.ejs') %>
    
</head>
<body onload="myFunction()">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
<%- include('./partials/navbar.ejs') %>
<div id="page-wrapper">
        <section id="about" class="text-center" style="padding-top: 150px;">

            <div class="container pt-5">
                <div class="row">
                    
                        <div class="card bg-main py-2 text-center text-main shadow my-3">
                            <div class="card-body fw-bold lh-lg">
                              <i class="bi bi-exclamation-triangle-fill" style='font-size:50px'></i>
                              <p class="fs-4">الصفحة غير موجودة</p>
                              
                              <p class="fs-5">لا يمكننـي العثور على هذه الصفحه!</p>
                              
                            </div>
                          </div>
                              </div>
                              </div>
                              </section>
                              </div>
  </div>

<%- include('./partials/menu.ejs') %>
</body>
</html>