section {
  display:flex;
  flex-direction:row
}
@media(max-width:1023px){
  section{
    flex-direction:column;
    align-items:center
  }
}
.card{
  background-color:#7a4400;
  height:max-content;
  width:max-content;
  padding:10px;
  margin:10px;
  border-radius:10px;
  display:grid;
  justify-items:center;
  border:1px solid #fff;
  color:#fff;
  background-size:cover;
}
.card form{
  display:flex;
  flex-direction:column;
  align-items:center
}
.card div{
  margin:2px
}
.card button{
  margin-top:5px;
  padding:5px 15px;
  font-size:.8em;
  font-weight:500
}



section {
    display: flex;
    flex-direction: column;
}

.topList {
    display: flex;
    padding: 12px;
    align-items: center;
    width: 100%;
    margin-right: 70px;
    justify-content: space-between;
}

.fa-circle-1 {
    font-size: 30px;
    color: #68f5ff;
}
.fa-circle-2 {
    font-size: 30px;
    color: #56ff62;
}
.fa-circle-3 {
    font-size: 30px;
    color: #ff6868;
}

.topList p {
    font-size: 1.1em;
    font-weight: 450;
}

.crown-top {
  justify-content: flex-end;
  margin-bottom: -8px;
  transform: rotate(13deg);
  color: gold;
  font-size: 25px;
}
